* {
  margin: 0;
  padding: 5px;
}

.init-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 400px;
  gap: 5px;
}

.click-btn {
  background-color: green;
  color: antiquewhite;
  border-radius: 50px;
  padding: 10px;
}

.button {
  display: flex;
  border-radius: 5px;
  border: 1px solid green;
  width: 100px;
  height: 25px;
  text-align: center;
  justify-content: center;
  padding: 1px;
  align-items: center;
  box-shadow: 1px 1px;
}

.buttons-containers {
  display: flex;
  gap: 10px;
}
.screen {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;

  width: auto;
  height: 100px;
  gap: 0px;
  background-color: rgb(7, 237, 253);
  box-shadow: 2px 2px;
}

.result,
.inputs2 {
  flex: 1;
  margin: 5px;
}

.result {
  display: flex;
  /* border: 1px red solid; */
  border-radius: 5px;
  /* background-color: lightblue; */
  /* justify-content: center; */
  align-items: center;
}

.inputs2 {
  border-radius: 5px;
  /* border: 1px solid green; */
  /* justify-content: right; */
  text-align: right;
}

.hide {
  display: none;
}

.btns-container {
  margin-top: 10px;
  border: 1px solid green;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn-0 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.btn-dot {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
